$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content
  }
}

@mixin media-breakpoint-between($breakpoint-min, $breakpoint-max) {
  @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max - 1) {
    @content
  }
}

.woo_sc_price_btn_popup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 45px;
  margin: 10px 0;
  padding: 3px 10px;
  font: normal normal 18px Arial;
  line-height: 40px;
  clear: both;
  cursor: pointer;
  border-radius: 4px;
}

.woo_sc_text_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.woo_sc_btn_span span.woo_sc_size_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.woo_sc_call_popup:hover {
  transform: scale(1.06);
  box-shadow: 0 0 2px 1px #3ac0ff;
}

.woo_sc_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */


}

/* Modal Content */
.woo_sc_modal_content {
  background-color: #ffffff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 30px 16px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: 1000px;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: 1000px;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}

.woo_sc_scroll_content {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  > * {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #dedede;
  }

  &::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 6px;
  }

  &::-moz-scrollbar {
    width: 10px;
  }

  &::-moz-scrollbar-track {
    background: #dedede;
  }

  &::-moz-scrollbar-thumb {
    background: #bbb;
    border-radius: 6px;
  }
}

/* The Close Button */
.woo_sc_modal_close {
  position: absolute;
  right: 10px;
  top: 2px;
  color: #aaaaaa;
  line-height: 22px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.woo_sc_modal_close:hover,
.woo_sc_modal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*RTL*/
.rtl {
  .woo_sc_modal_close {
    right: unset;
    left: 10px;
  }
}

@include media-breakpoint-up($md) {
  .woo_sc_modal_content {
    width: 60%;
    height: unset;
    border-radius: 8px;
  }
  .woo_sc_scroll_content {
    max-height: 78vh;
  }

  .woo_sc_modal_close {
    right: -22px;
    top: -18px;
    color: #fff;
    &:hover {
      color: #fff;
      scale: 1.2;
    }
  }

  .rtl {
    .woo_sc_modal_close {
      right: unset;
      left: -22px;
    }
  }
}